nav {
    font-family: monospace;
}

.col-sm {
    background-color: blue;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height: 150px;
}

.oculto {
    display: none;
    transition: display, 200;
}
